{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h4> Эмийн жагсаалт </h4>

<table class="table">
<thead>
    <tr>
      <th>Name</th>
      <th>size</th>
      <th>nairlaga</th>
      <th>intro</th>
      <th>other_side</th>
      <th>zaavar</th>
      <th>age</th>
      <th>duration</th>
      <th>date</th>
      <th>factory</th>
      <th>price</th>
      <th>drug_catedory</th>
    </tr>
</thead>
<tbody>
    {% for drug in drug_detail %}
    <tr>
    <td>{{ drug.name }}</td>
    <td>{{ drug.size }}</td>
    <td>{{ drug.nairlaga }}</td>
    <td>{{ drug.intro }}</td>
    <td>{{ drug.other_side }}</td>
    <td>{{ drug.zaavar }}</td>
    <td>{{ drug.age }}</td>
    <td>{{ drug.duration }}</td>
    <td>{{ drug.date }}</td>
    <td>{{ drug.factory }}</td>
    <td>{{ drug.price }}</td>
    <td>{{ drug.drug_catedory }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
